<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51016/Infrastructure/ReportManager.svc/reports"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportManager"
                contract="ServiceReference.IReportManager" name="BasicHttpBinding_IReportManager" />
        </client>
    </system.serviceModel>
</configuration>