<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticationManager" />
                <binding name="BasicHttpBinding_ITagManager" />
                <binding name="BasicHttpBinding_IDatabaseManager" />
                <binding name="BasicHttpBinding_IAlarmManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51016/Infrastructure/DatabaseManager.svc/auth"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationManager"
                contract="ServiceReference.IAuthenticationManager" name="BasicHttpBinding_IAuthenticationManager" />
            <endpoint address="http://localhost:51016/Infrastructure/DatabaseManager.svc/tags"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagManager"
                contract="ServiceReference.ITagManager" name="BasicHttpBinding_ITagManager" />
            <endpoint address="http://localhost:51016/Infrastructure/DatabaseManager.svc/dbmanager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseManager"
                contract="ServiceReference.IDatabaseManager" name="BasicHttpBinding_IDatabaseManager" />
            <endpoint address="http://localhost:51016/Infrastructure/DatabaseManager.svc/alarm"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlarmManager"
                contract="ServiceReference.IAlarmManager" name="BasicHttpBinding_IAlarmManager" />
        </client>
    </system.serviceModel>
</configuration>