<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticationManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51016/Infrastructure/DatabaseManager.svc/auth"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationManager"
                contract="AuthenticationServiceReference.IAuthenticationManager"
                name="BasicHttpBinding_IAuthenticationManager" />
        </client>
    </system.serviceModel>
</configuration>